// -------------
// Declare Fonts
// -------------

@font-face {
  font-family: "SerranoWeb";
  font-weight: 900;
  font-style: normal;
  src: url("https://www.bnz.co.nz/serrano/fonts/SerranoWeb-Black.woff2?v=3") format("woff2"),url("fonts/SerranoWeb-Black.woff?v=3") format("woff")
}

@font-face {
  font-family: "SerranoWeb";
  font-weight: 900;
  font-style: italic;
  src: url("https://www.bnz.co.nz/serrano/fonts/SerranoWeb-BlackItalic.woff2?v=3") format("woff2"),url("fonts/SerranoWeb-BlackItalic.woff?v=3") format("woff")
}

@font-face {
  font-family: "SerranoWeb";
  font-weight: 700;
  font-style: normal;
  src: url("https://www.bnz.co.nz/serrano/fonts/SerranoWeb-Bold.woff2?v=3") format("woff2"),url("fonts/SerranoWeb-Bold.woff?v=3") format("woff")
}

@font-face {
  font-family: "SerranoWeb";
  font-weight: 700;
  font-style: italic;
  src: url("https://www.bnz.co.nz/serrano/fonts/SerranoWeb-BoldItalic.woff2?v=3") format("woff2"),url("fonts/SerranoWeb-BoldItalic.woff?v=3") format("woff")
}

@font-face {
  font-family: "SerranoWeb";
  font-weight: 600;
  font-style: normal;
  src: url("https://www.bnz.co.nz/serrano/fonts/SerranoWeb-Semibold.woff2?v=3") format("woff2"),url("fonts/SerranoWeb-Semibold.woff?v=3") format("woff")
}

@font-face {
  font-family: "SerranoWeb";
  font-weight: 600;
  font-style: italic;
  src: url("https://www.bnz.co.nz/serrano/fonts/SerranoWeb-SemiboldItalic.woff2?v=3") format("woff2"),url("fonts/SerranoWeb-SemiboldItalic.woff?v=3") format("woff")
}

@font-face {
  font-family: "SerranoWeb";
  font-weight: 300;
  font-style: normal;
  src: url("https://www.bnz.co.nz/serrano/fonts/SerranoWeb-Light.woff2?v=3") format("woff2"),url("fonts/SerranoWeb-Light.woff?v=3") format("woff")
}

@font-face {
  font-family: "SerranoWeb";
  font-weight: 300;
  font-style: italic;
  src: url("https://www.bnz.co.nz/serrano/fonts/SerranoWeb-LightItalic.woff2?v=3") format("woff2"),url("fonts/SerranoWeb-LightItalic.woff?v=3") format("woff")
}

@font-face {
  font-family: "SerranoWeb";
  font-weight: 100;
  font-style: normal;
  src: url("https://www.bnz.co.nz/serrano/fonts/SerranoWeb-Thin.woff2?v=3") format("woff2"),url("fonts/SerranoWeb-Thin.woff?v=3") format("woff")
}

@font-face {
  font-family: "SerranoWeb";
  font-weight: 100;
  font-style: italic;
  src: url("https://www.bnz.co.nz/serrano/fonts/SerranoWeb-ThinItalic.woff2?v=3") format("woff2"),url("fonts/SerranoWeb-ThinItalic.woff?v=3") format("woff")
}

@font-face {
  font-family: "SerranoWeb";
  font-weight: 400;
  font-style: normal;
  src: url("https://www.bnz.co.nz/serrano/fonts/SerranoWeb-Regular.woff2?v=3") format("woff2"),url("fonts/SerranoWeb-Regular.woff?v=3") format("woff")
}

@font-face {
  font-family: "SerranoWeb";
  font-weight: 400;
  font-style: italic;
  src: url("https://www.bnz.co.nz/serrano/fonts/SerranoWeb-Italic.woff2?v=3") format("woff2"),url("fonts/SerranoWeb-Italic.woff?v=3") format("woff")
}

// ----------------
// Set up variables
// ----------------

:root {

// Colours

  // Core
  --blue:     #002f6b;
  --gold:     #FAA61A;
  --midnight: #00152F;

  // Action
  --midblue: #007DC3;
  --green:   #36A01C;
  --orange:  #E96D1E;
  --red:     #CC0000;

  // Secondary
  --guava:      #E95160;
  --wasabi:     #A1D884;
  --zest:       #FFE500;
  --lightteal:  #20CBD4;
  --lightblue:  #54C0E4;
  --smokeyblue: #7EB0CC;

  // Greys
  --black: #000000;
  --grey5: #333333;
  --grey4: #5A5A5A;
  --grey3: #B2B2B2;
  --grey2: #D0D0D0;
  --grey1: #F6F6F6;
  --white: #FFFFFF;

  // Transparent
  --blue-10:    rgba(0,47,107,0.1);
  --blue-30:    rgba(0,47,107,0.3);
  --blue-50:    rgba(0,47,107,0.5);
  --midblue-10: rgba(0,125,195,0.1);

  // Shadows
  --shadow-sml-light: 0 1px 3px var(--blue-10);
  --shadow-sml-med:   0 1px 3px var(--blue-30);
  --shadow-sml-dark:  0 1px 3px var(--blue-50);

  --shadow-lrg-light:   0 3px 15px var(--blue-10);

// Type

  // Font families
  --serrano: "SerranoWeb", "Arial Unicode MS", sans-serif;

  // Font settings
  --font-features: "kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 0;

  // Sizes
  --f-sml: 0.875rem; // 14px
  --f-med:     1rem; // 16px
  --f-semi: 1.25rem; // 20px
  --f-lrg:   1.5rem; // 24px
  --f-xlg:     2rem; // 32px
  --f-2xl:     3rem; // 48px
  --f-hero: 3.75rem; // 60px

// Widths

  --content-max: 75rem;

  // Units
  --u1: 0.625rem;
  --u2: calc( 2 * var(--u1) );
  --u3: calc( 3 * var(--u1) );
  --u4: calc( 4 * var(--u1) );
  --u6: calc( 6 * var(--u1) );
  --u8: calc( 8 * var(--u1) );

  // Border radius
  --lilround: 3px;
  --rounded: 5px;
  --circular: 50%;

}

// Sass variables that Discourse uses

$primary:           var(--grey5);
$secondary:         white;
$tertiary:          var(--midblue);
$quaternary:        var(--midblue);
$header_background: var(--grey1);
$header_primary:    var(--blue);
$highlight:         var(--zest);
$danger:            var(--red);
$success:           var(--green);
$love:              var(--blue);

// ---------------------------
// Helper functions and mixins
// ---------------------------

@mixin caps {
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@mixin hide-accessibly {
  position: absolute !important;
  opacity: 0;
  pointer-events: none;
}

// URI icons

@mixin icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1rem;
}

@mixin icon-mag {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17'%3E%3Ccircle fill='none' stroke='currentColor' cx='6.5' cy='6.5' r='6'/%3E%3Cpath fill='none' stroke='currentColor' stroke-width='2' d='M11.5 11.5l4 4'/%3E%3C/svg%3E");
}

@mixin icon-menu {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 12'%3E%3Cpath d='M0 10h14v2H0zM0 0h14v2H0zm0 5h14v2H0z' fill='currentColor'/%3E%3C/svg%3E");
}

@mixin icon-activity {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='11' viewBox='0 0 16 11' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.8 4L9.6 8a1 1 0 0 1-1.4 0L6.9 6.7a.5.5 0 0 0-.7 0l-3.7 3.6a1 1 0 0 1-1.4 0L.7 10a1 1 0 0 1 0-1.5l5.1-5a1 1 0 0 1 1.4 0L8.5 5c.2.2.5.2.7 0L12 2.2a.3.3 0 0 0 0-.4l-1-1a.5.5 0 0 1 .3-.8h4.2c.3 0 .5.2.5.5v4.1a.5.5 0 0 1-.8.4L14 4c-.1-.2-.3-.2-.3 0z' fill='currentColor' fill-rule='evenodd'/%3E%3C/svg%3E");
}

@mixin icon-speechbubble {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='15px' height='13px' viewBox='0 0 15 13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0c3.9 0 7 2.5 7 5.5S11.9 11 8 11c-1 0-2-.2-3-.5L.7 12.7a.3.3 0 0 1-.4-.4l2-3.7C1.3 7.7 1 6.6 1 5.5 1 2.5 4.1 0 8 0zm0 1.5c-3 0-5.5 1.8-5.5 4 0 1 .5 1.8 1.2 2.5l-1 2.2a.1.1 0 0 0 0 .2L5.5 9c.8.3 1.7.5 2.6.5 3 0 5.5-1.8 5.5-4s-2.5-4-5.5-4z' fill='currentColor' fill-rule='evenodd'/%3E%3C/svg%3E");
}

@mixin icon-eye {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='17px' height='10px' viewBox='0 0 17 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0a9 9 0 0 1 8.1 5A9 9 0 0 1 0 5a9 9 0 0 1 8-5zm0 1.8A6.3 6.3 0 0 0 2.5 5C3.6 7 5.6 8.4 8 8.4Sa2.4 7 13.5 5A6.3 6.3 0 0 0 8 1.8zm0 .7a2.5 2.5 0 1 1-1.7.7L8.1 5V2.5z' fill='currentColor' fill-rule='evenodd'/%3E%3C/svg%3E");
}

@mixin bnz-logo {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='49' height='24'%3E%3Cpath fill='currentColor' d='M5.29 13.87a3.8 3.8 0 012.79-1.09c2.23.09 3.63 1.32 3.63 3.73 0 4.63-2.75 7.23-6.84 7.23-1.6 0-3.44-.35-4.87-.89l2.38-13.4c.19-1.1.62-1.53 1.96-1.53h1.99l-1.04 5.95zm-1.21 6.92c.37.1.45.11.93.11 1.69 0 2.87-1.61 2.87-3.86 0-1.03-.48-1.42-1.31-1.42-.72 0-1.62.64-1.75.91l-.74 4.26zm19.46 2.42c.12.26.43.54 1.14.53.81 0 1.73-.13 2.72-.13 1.56 0 2.11.1 4.14.13.8.01 1.23-.27 1.41-1.12.11-.49.22-1.07.34-1.89-.82.08-1.62.03-2.3-.01-.95-.06-1.95-.12-2.74-.05.36-.56.95-1.29 1.94-2.23.47-.44 1.31-1.15 2.21-2.12.9-.98 1.94-2.11 1.62-3.55-.99.07-1.7.1-3.01.1-1.62 0-3.64-.1-4.72-.1-.92 0-1.35.3-1.53 1.05-.15.63-.4 2-.4 2 .16-.05.88-.09 1.49-.09.61.01 2.26.04 2.61.09-.15.46-1.61 1.54-2.52 2.55-.57.63-1.52 1.71-2.01 2.53-1.26.67-1.98.47-1.86-.51l.52-2.92c.05-.56.21-1.17.18-1.7-.1-1.9-1.32-3.06-3.41-3.06-1.14 0-1.97.58-2.59 1.11 0 0-.16-.88-1.34-.94l-2.03-.01-1.64 9.32c-.23 1.22.2 1.4 1.29 1.39h2.07l1.25-6.99c.15-.33.89-1.05 1.8-1.05.59 0 1.1.29.98 1.05l-.64 3.76c-.16 1.21.25 2.18.66 2.55.54.56 1.3.81 2.07.84.87.05 1.83-.16 2.3-.53z'/%3E%3Cpath fill='%23fAA819' d='M42.21 0l.26 1.69c.03.16.17.28.33.27h1.78l-1.61 1.05a.47.47 0 00-.22.44l.26 1.69-1.26-1.04c-.12-.1-.32-.1-.47 0l-1.62 1.05.84-1.69c.08-.16.05-.35-.07-.45l-1.26-1.05h1.78a.5.5 0 00.42-.27L42.21 0zm-5.53 3.5l.26 1.69c.03.16.17.28.33.27h1.78l-1.61 1.05a.47.47 0 00-.22.45l.26 1.69-1.27-1.05c-.12-.1-.32-.1-.47 0l-1.62 1.05.83-1.69c.08-.16.05-.35-.07-.45l-1.26-1.05h1.78a.5.5 0 00.42-.27l.86-1.69zm9.82 0l.26 1.69c.03.16.17.28.33.27h1.78l-1.61 1.05a.48.48 0 00-.22.45l.26 1.69-1.26-1.05c-.12-.1-.32-.1-.47 0l-1.62 1.05.84-1.69c.08-.16.05-.35-.07-.45l-1.26-1.05h1.78a.5.5 0 00.42-.27l.84-1.69zm-6.32 7.27l.26 1.69c.03.16.17.28.33.27h1.78l-1.61 1.05a.5.5 0 00-.22.45l.26 1.69-1.26-1.04c-.12-.1-.32-.1-.47 0l-1.62 1.05.84-1.69c.08-.16.05-.35-.07-.44l-1.26-1.05h1.78a.5.5 0 00.42-.27l.84-1.71z'/%3E%3C/svg%3E");
}

// ------
// Resets
// ------

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

// ----
// Base
// ----

html {
  background: white;
  color: var(--blue);
  font-size: 100%;
  line-height: 1.5625;
  font-feature-settings: var(--font-features);
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}

body {
  position: relative;
  max-width: 100vw;
  overflow-x: hidden;
}

hr {
  border-top: 1px solid var(--grey1);
}

// ----------
// Typography
// ----------

html,
body,
input,
button,
select,
textarea {
  font-family: var(--serrano)
}

a:not([class]) {
  background-color: transparent;
  background-image: -webkit-linear-gradient(transparent -300%,currentColor 600%);
  background-image: linear-gradient(transparent -300%,currentColor 600%);
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: 100% 1px;
  background-position: 0 100%;
}

// ----------
// Components
// ----------

// Buttons

.btn {
  border-radius: var(--rounded);
  min-height: var(--u4);
}

// Alerts

.alert {
  border-radius: var(--rounded);
  padding: var(--u2) var(--u3);
  margin: var(--u2) 0;

  .close {
    top: auto;
    right: var(--u2);
  }

  .alert-info {
    background-color: var(--midblue-10);
  }
}

// Inputs

input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"] {
  min-height: var(--u4);
  border-radius: var(--lilround);
}

div.ac-wrap {
  border-radius: var(--lilround);
  input[type="text"] {
    min-height: var(--u4);
  }
}

// Combo box

.select-kit.combo-box {
  .select-kit-header {
    height: var(--u4);
    border-radius: var(--lilround);
  }
  .select-kit-body {
    border-radius: var(--rounded);
    box-shadow: var(--shadow-lrg-light);
  }
  &.mini-tag-chooser .select-kit-header {
    height: var(--u4);
  }
}


// Category colour badges

.badge-wrapper {
  font-size: var(--f-sml);
}

.badge-wrapper.bullet .badge-category-parent-bg, .badge-wrapper.bullet .badge-category-bg {
  border-radius: var(--circular);
}

.badge-wrapper .badge-category .category-name {
  color: var(--grey5);
  font-weight: normal;
}

// Group boxes

.groups-boxes .group-box {
  border-radius: var(--rounded);
}

// ------
// Layout
// ------

// Header

.d-header {
  height: 3.75rem;
  box-shadow: none;
  box-shadow: inset 0 5px var(--blue);
  background-color: var(--grey1);

  .title a {
    display: inline-block;
    background-color: var(--blue);
    position: relative;
    top: 0;
    margin-left: var(--u2);
    transition: 120ms ease-in-out;
    border-radius: 0 0 var(--lilround) var(--lilround);
    color: white;
    height: 3.75rem;

    &:visited {
      color: white;
      opacity: 0.7;
    }

    &:hover {
      top: 5px;
      transition: 100ms ease-out;
    }
  }

  #site-logo {
    box-sizing: border-box;
    height: 3.75rem;
    padding: 12px 10px 10px 15px;
    .logo-small {
      padding: 0.625rem;
    }
  }

  #community-tab {
    margin-left: 8px;
  }

    #community-tab-title {
      padding: 17px 12px 0;
    }

  .panel {
    margin-right: var(--u2);
  }
}

  .extra-info-wrapper {
    padding: 5px 1rem 0;
    .topic-link {
      color: var(--blue);
    }
    .badge-wrapper.bullet,
    .badge-wrapper.bar,
    .badge-wrapper.none {
      span.badge-category {
        color: var(--blue);
      }
    }
  }

// Badges
  .extra-info-wrapper .badge-wrapper.bullet 
  .badge-category-parent-bg, 
  .extra-info-wrapper .badge-wrapper.bullet .badge-category-bg {
    border-radius: var(--circular);
  }

  .extra-info h1 {
    font-size: var(--f-semi);
  }

  .d-header-icons {
    position: relative;
    top: 2px;
    border-radius: var(--rounded);

    // User display picture
    .icon img.avatar {
      width: 1.875rem;
      height: 1.875rem;
    }

    // Menu and search icons
    .fa.d-icon.svg-icon {
      opacity: 0;
    }
    .icon {
      @include icon;
      border-radius: var(--lilround);
      &:hover {
        background-color: white;
      }
    }
  }

  #search-button {
    @include icon-mag;
  }

  #toggle-hamburger-menu {
    @include icon-menu;
  }

  #current-user.header-dropdown-toggle {
    margin-left: 0.375rem;
  }

// Navigation menu panels

.menu-panel.drop-down {
  right: 0;
  border-radius: var(--rounded);
}

  .drop-down-mode .d-header-icons .active .icon {
    border: none;
  }

  .menu-panel {
    border: none;
    box-shadow: var(--shadow-lrg-light);
    padding: 1.25rem;

    li a,
    li.heading a {
      &:hover,
      &:focus {
        background-color: var(--grey1);
        outline: none;
        border-radius: var(--rounded);
      }
    }
  }


div.menu-links-header {
  .fa,
  a {
    color: var(--midnight);
  }

  a {
    &:hover,
    &:focus {
      background-color: var(--midblue-10);
      outline: none;
    }
  }
}

// User menu panel

.user-menu .notifications {
  li {
    background-color: var(--midblue-10);
    &:hover,
    &:focus {
      background-color: var(--grey1);
      outline: none; 
    }
    span:first-child {
      color: var(--midnight);
    }
  }
  a {
    background-image: none;
  }
  .d-icon {
    color: var(--midnight);
    opacity: 0.5;
  }
}

// Search

.search-container {

  .search-bar {
    min-height: var(--u4);
    // Search button
    .search-cta {
      min-height: var(--u4);
      min-width: var(--u4);
    }
  }

  .search-advanced-sidebar {

    .search-advanced-title {
      border-radius: var(--rounded) var(--rounded) 0 0;
      padding: var(--u1) 1rem;
    }

    .search-advanced-filters {
      .control-group {
        margin: var(--u1) 0;
      }
      .control-label {
        font-size: var(--f-sml);
        font-weight: bold;
      }
    }
  }
}

// applet wrapper

.wrap {
  max-width: var(--content-max);
}

.archetype-regular,
.search-page,
.admin-interface {
  .wrap {
  box-sizing: border-box;
  padding: 0;

    div:nth-of-type(2) {
      margin: 0 var(--u2);
    }
  }
}

// List controls

// "All categories" button/dropdown

.list-controls {
  padding: 0 var(--u2);

  .combo-box .combo-box-header {
    color: var(--midnight);
    border: 1px solid var(--midnight);
    height: var(--u4);
    text-transform: capitalize;
    font-size: var(--f-med);
  }
}

.select-kit.combo-box.select-kit-header.is-focused {
  border: none;
  border-radius: var(--lilround);
  box-shadow: inset 0 0 var(--lilround) var(--midblue-10);
}

.list-controls .combo-box .combo-box-header {
  border-radius: var(--rounded);
  padding: 15px var(--u1);
}

// Search categories

.select-kit.combo-box.category-drop .select-kit-body {
  border-radius: var(--rounded);
  box-shadow: var(--shadow-lrg-light);
}

// Nav pills

.nav-pills > li > a {
  border-radius: var(--rounded);
  height: var(--u4);
  font-size: var(--f-med);
  background-image: none;

  &:hover {
    background-color: var(--midblue-10);
  }
}

.top-lists .single-select {
  margin-left: var(--u2);
  margin-top: var(--u1);
}

// New topic button

.list-controls .btn {
  font-size: var(--f-med);
  height: var(--u4);
}

.discourse-no-touch .btn:hover, 
.discourse-no-touch .btn.btn-hover {
  background: var(--midblue);
}

// ----------
// Topic list
// ----------

.topic-list-item {
  border-bottom: none;
  transition: 100ms;

  &:hover {
    background-color: var(--grey1);
    transition: 50ms;
  };
}

.topic-list {
  thead {
    @include hide-accessibly();
  }
  tbody {
    border: none;
  }
  th, td {
    padding: var(--u2) var(--u1);
    color: var(--grey5);

    &:first-of-type {
      padding-left: var(--u2);
    }

    &:last-of-type {
      padding-right: var(--u2);
    }
  }

  .link-bottom-line {
    margin: 0;
  }

  .num {
    text-align: left;
    padding: 0;

    @mixin icon-before {
      content: ' ';
      width: 1rem;
      @include icon;
    }

    a.badge-posts .number::before {
      @include icon-before;
      @include icon-speechbubble;
    }

    &.views .number::before {
      @include icon-before;
      @include icon-eye;
    }

    a.post-acitivty .relative-date::before {
      @include icon-before;
      @include icon-activity;
    }

  }
}

.topic-list-main-link, .topic-list .main-link, .latest-topic-list-item .main-link {
  font-size: var(--f-semi);
}

.topic-list-main-link a.title, 
.topic-list .main-link a.title, 
.latest-topic-list-item .main-link a.title {
  padding: var(--u2) 0;
  color: var(--blue);
}

.topic-list-item.visited a.title:not(.badge-notification), 
est-topic-list-item.visited a.title:not(.badge-notification), 
.category-topic-link.visited a.title:not(.badge-notification) {
  color: var(--midnight);
}

// New Topic panel

.composer-popup {
  background: var(--midblue-10);
}

.d-editor-textarea-wrapper {
  border-radius: var(--lilround);
}

#reply-control .save-or-cancel .cancel {
  color: var(--midblue);
}

// Thread page

.topic-title {}