// -------------
// Declare Fonts
// -------------

@font-face {
  font-family: "SerranoWeb";
  font-weight: 900;
  font-style: normal;
  src: url("https://www.bnz.co.nz/serrano/fonts/SerranoWeb-Black.woff2?v=3") format("woff2"),url("fonts/SerranoWeb-Black.woff?v=3") format("woff")
}

@font-face {
  font-family: "SerranoWeb";
  font-weight: 900;
  font-style: italic;
  src: url("https://www.bnz.co.nz/serrano/fonts/SerranoWeb-BlackItalic.woff2?v=3") format("woff2"),url("fonts/SerranoWeb-BlackItalic.woff?v=3") format("woff")
}

@font-face {
  font-family: "SerranoWeb";
  font-weight: 700;
  font-style: normal;
  src: url("https://www.bnz.co.nz/serrano/fonts/SerranoWeb-Bold.woff2?v=3") format("woff2"),url("fonts/SerranoWeb-Bold.woff?v=3") format("woff")
}

@font-face {
  font-family: "SerranoWeb";
  font-weight: 700;
  font-style: italic;
  src: url("https://www.bnz.co.nz/serrano/fonts/SerranoWeb-BoldItalic.woff2?v=3") format("woff2"),url("fonts/SerranoWeb-BoldItalic.woff?v=3") format("woff")
}

@font-face {
  font-family: "SerranoWeb";
  font-weight: 600;
  font-style: normal;
  src: url("https://www.bnz.co.nz/serrano/fonts/SerranoWeb-Semibold.woff2?v=3") format("woff2"),url("fonts/SerranoWeb-Semibold.woff?v=3") format("woff")
}

@font-face {
  font-family: "SerranoWeb";
  font-weight: 600;
  font-style: italic;
  src: url("https://www.bnz.co.nz/serrano/fonts/SerranoWeb-SemiboldItalic.woff2?v=3") format("woff2"),url("fonts/SerranoWeb-SemiboldItalic.woff?v=3") format("woff")
}

@font-face {
  font-family: "SerranoWeb";
  font-weight: 300;
  font-style: normal;
  src: url("https://www.bnz.co.nz/serrano/fonts/SerranoWeb-Light.woff2?v=3") format("woff2"),url("fonts/SerranoWeb-Light.woff?v=3") format("woff")
}

@font-face {
  font-family: "SerranoWeb";
  font-weight: 300;
  font-style: italic;
  src: url("https://www.bnz.co.nz/serrano/fonts/SerranoWeb-LightItalic.woff2?v=3") format("woff2"),url("fonts/SerranoWeb-LightItalic.woff?v=3") format("woff")
}

@font-face {
  font-family: "SerranoWeb";
  font-weight: 100;
  font-style: normal;
  src: url("https://www.bnz.co.nz/serrano/fonts/SerranoWeb-Thin.woff2?v=3") format("woff2"),url("fonts/SerranoWeb-Thin.woff?v=3") format("woff")
}

@font-face {
  font-family: "SerranoWeb";
  font-weight: 100;
  font-style: italic;
  src: url("https://www.bnz.co.nz/serrano/fonts/SerranoWeb-ThinItalic.woff2?v=3") format("woff2"),url("fonts/SerranoWeb-ThinItalic.woff?v=3") format("woff")
}

@font-face {
  font-family: "SerranoWeb";
  font-weight: 400;
  font-style: normal;
  src: url("https://www.bnz.co.nz/serrano/fonts/SerranoWeb-Regular.woff2?v=3") format("woff2"),url("fonts/SerranoWeb-Regular.woff?v=3") format("woff")
}

@font-face {
  font-family: "SerranoWeb";
  font-weight: 400;
  font-style: italic;
  src: url("https://www.bnz.co.nz/serrano/fonts/SerranoWeb-Italic.woff2?v=3") format("woff2"),url("fonts/SerranoWeb-Italic.woff?v=3") format("woff")
}

// ----------------
// Set up variables
// ----------------

// Sass variables that Discourse uses

$primary:           #002f6b;
$secondary:         #ffffff;
$tertiary:          #007DC3;
$quaternary:        #FAA61A;
$header_background: #ffffff;
$header_primary:    #002f6b;
$highlight:         rgba(0,47,107,0.1);
$danger:            #E96D1E;
$success:           #36A01C;
$love:              #E95160;


:root {

// Colours

  // Core
  --blue:     #002f6b;
  --gold:     #FAA61A;
  --midnight: #00152F;

  // Action
  --midblue: #007DC3;
  --green:   #36A01C;
  --orange:  #E96D1E;
  --red:     #CC0000;

  // Secondary
  --guava:      #E95160;
  --wasabi:     #A1D884;
  --zest:       #FFE500;
  --lightteal:  #20CBD4;
  --lightblue:  #54C0E4;
  --smokeyblue: #7EB0CC;

  // Greys
  --black: #000000;
  --grey5: #333333;
  --grey4: #5A5A5A;
  --grey3: #B2B2B2;
  --grey2: #D0D0D0;
  --grey1: #F6F6F6;
  --white: #FFFFFF;

  // Transparent
  --blue-10:    rgba(0,47,107,0.1);
  --blue-30:    rgba(0,47,107,0.3);
  --midblue-10: rgba(0,125,195,0.1);

// Type

  // Font families
  --serrano: "SerranoWeb", "Arial Unicode MS", sans-serif;

  // Font settings
  --font-features: "kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 0;

  // Sizes
  --f-sml: 0.875rem; // 14px
  --f-med:     1rem; // 16px
  --f-semi: 1.25rem; // 20px
  --f-lrg:   1.5rem; // 24px
  --f-xlg:     2rem; // 32px
  --f-2xl:     3rem; // 48px
  --f-hero: 3.75rem; // 60px

// Widths

  --content-max: 75rem;

}

// ------
// Resets
// ------

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

// ----
// Base
// ----

html {
  background: white;
  color: var(--blue);
  font-size: 100%;
  line-height: 1.5625;
  font-feature-settings: var(--font-features);
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  color: var(--midnight);
}

body {
  position: relative;
  max-width: 100vw;
  overflow-x: hidden;
}

// ----------
// Typography
// ----------

html,
body,
input,
button,
select,
textarea {
  font-family: var(--serrano)
}

a:not([class]) {
  background-color: transparent;
  background-image: -webkit-linear-gradient(transparent -300%,currentColor 600%);
  background-image: linear-gradient(transparent -300%,currentColor 600%);
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: 100% 1px;
  background-position: 0 100%;
}

// ------
// Layout
// ------

// Header

.d-header {
  height: 3.75rem;
  box-shadow: none;
  box-shadow: inset 0 5px var(--blue);
  background-color: var(--grey1);

  .title a {
    display: inline-block;
    background-color: var(--blue);
    position: relative;
    top: 0;
    transition: 120ms ease-in-out;

    &:hover {
      top: 5px;
      transition: 100ms ease-out;
    }
  }

  #site-logo {
    box-sizing: border-box;
    height: 3.75rem;
    padding: 15px 10px 12.5px 15px;
  }
}

  .d-header-icons {
    position: relative;
    top: 2px;
    // User display picture
    .icon img.avatar {
      width: 1.875rem;
      height: 1.875rem;
    }
    // Menu and search icons
    .fa.d-icon.svg-icon {
      opacity: 0;
    }
    .icon {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 1rem;
      &:hover {
        background-color: white;
      }
    }
  }

  #search-button {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17'%3E%3Ccircle fill='none' stroke='currentColor' cx='6.5' cy='6.5' r='6'/%3E%3Cpath fill='none' stroke='currentColor' stroke-width='2' d='M11.5 11.5l4 4'/%3E%3C/svg%3E");
  }

  #toggle-hamburger-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 12'%3E%3Cpath d='M0 10h14v2H0zM0 0h14v2H0zm0 5h14v2H0z' fill='currentColor'/%3E%3C/svg%3E");
  }

  #current-user.header-dropdown-toggle {
    margin-left: 0.375rem;
  }

// Navigation menu panels

.menu-panel.drop-down {
  right: 0;
}

  .drop-down-mode .d-header-icons .active .icon {
    border: none;
  }

  .menu-panel {
    border: none;
    box-shadow: 0 3px 15px var(--blue-10);
    padding: 1.25rem;
  }

div.menu-links-header {
  .fa,
  a {
    color: var(--midnight);
  }

  a {
    &:hover,
    &:focus {
      background-color: var(--midblue-10);
      outline: none;
    }
  }
}

